<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>测试构造函数</title>
    <script>
        function Polygon(sides){
           if(this instanceof Polygon){
               this.sides=sides;
               this.getArea=function(){
                   return 0;
               }
           }else{
               return new Polygon(sides)
           }
        }

        function Rectangle(width,height){
            Polygon.call(this,2);
            this.width=width;
            this.height=height;
            this.getArea=function(){
                return this.width*this.height;
            };
        }
        /*注意这行代码，没有这个会报错*/
        Rectangle.prototype=new Polygon()
        var rect=new Rectangle(5,10)
        alert(rect.sides)
    </script>
</head>
<body>

</body>
</html>